    *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }
    main section article i{
        display: block;
        font-size: 16px;
        padding: 5px;
        width: 30px;
        height: 30px;
        border: 1px solid #39b54a;
        background-color: #FFF;
        border-radius: 50%;
        position: absolute;
        right: 20px;
        top:-15px;
    }
    
    body {  
        width: 100%;
        font-family: "Roboto", sans-serif;
        font-size: 12px;
        background-color: #ebebeb;
    }
    header {
        background-color: #EAC926;
        width: 100%;
        height: 100%;
    }
    .encabezado {
        width: 100%;
        display: flex;
        flex-wrap: wrap; 
        justify-content: space-around;
    }
    .search{
        width: 50%;
        text-align: center;
        flex-grow: 0.4;
        margin-top: 30px;
    }
    .fa-magnifying-glass {
        width: 5%;
        flex-grow: 0.1;
    }
    .logo{
        width: 50%; 
        display: flex;  
        flex-grow:0.5; 
        margin-top: 10px;
    }
    .cuotas{
        margin-top: 10px;
        text-align: center;
        width: 100%;
    }
    .nav-bar{
        display: none;
    }

    .burger-menu{
        background-color:#1259c3;
        color: #ffffff;
        padding: 5px;
        width:15px;
        height: 13px;   
        text-align:center;
        margin: auto;
        border-radius: 5px;
        display:block;
        margin-top: 20px;
    }
    .banner {
        width: 100%;
        height: 100%;
    }
    main {
        text-align: center;
        width: 100%;
        height: 100%;
    }
    .last-visit {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .offers {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .titulares{
        font-size: 24px;
        color: #666;
        width: 100%;
        text-align: left;
        margin-left: 50px;
    }
    .producto {
        margin: 3px;
        margin-left: 10px;
        width: 100%;
        background-color: white;
    }
    .imagen-producto {
        width: 90%; 
    }
    .descripcion-producto {
        border-top: solid 1px #ebebeb;
        padding: 15px;
        /* display: none; */
        position: relative;
    }
    .fa-truck {
        color: #39b54a;
    }
    .precio-descuento {
        display: flex;
    }
    .precios{
        font-size: 18px;
        margin-bottom: 10px;
        flex-grow: 0.5;
    }
    .descuentos{
        font-size: 16px;
        margin-top: 10px;
        color: #39b54a;
        flex-grow: 0.5;
    }
    .descripciones{
        font-size: 16px;
        margin-top: 10px;
        display: block;
    }
    .pie{
        text-align:center;
    }
    .footer-icon {
        color: #1259c3;
        font-size: 2em;
        margin-bottom: 10px;
    }



    @media (min-width: 768px) {
        .search {
            width: 30%;
        }
        .logo {
            width: 20%;
        }
        .cuotas {
            width: 40%;
            margin-top: 30px;
            padding: auto;
            text-align: left;
        }
        .nav-bar{
            display:block;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            justify-content: space-around;
        }   
        .nav {
            width: 35%;
            display: flex;
            flex-wrap: wrap; 
            justify-content: space-around; 
            list-style-type: none;
            text-align: left;
        }
        .cuenta {
            width: 40%;
            display: flex;
            flex-wrap: wrap; 
            justify-content: space-around;
            list-style-type: none;
            text-align: left;
        }
        .burger-menu{
            display:none;
        }
        .last-visit {
            width: 100%;
            display: flex;
            flex-wrap: wrap; 
            justify-content: space-around;
        }
        .producto{
            box-shadow: 0px 0px 10px rgb(100, 100, 100);
            margin: 3px;
            margin-left: 10px;
            width: 35%;
            background-color: white;
            flex-grow: 0.5;
        }
        .imagen-producto {
            width: 90%; 
        }
    } 
    @media (min-width:1024px){
        .search {
            width: 30%;
        }
        .logo {
            width: 20%;
        }
        .cuotas {
            width: 40%;
            margin-top: 30px;
            padding: auto;
            text-align: left;
        }
        .nav-bar{
            display:block;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            justify-content: space-around;
        }   
        .nav {
            width: 35%;
            display: flex;
            flex-wrap: wrap; 
            justify-content: space-around; 
            list-style-type: none;
            text-align: left;
        }
        .cuenta {
            width: 40%;
            display: flex;
            flex-wrap: wrap; 
            justify-content: space-around;
            list-style-type: none;
            text-align: left;
        }
        .burger-menu{
            display:none;
        }
        .producto{
            box-shadow: 0px 0px 10px rgb(100, 100, 100);
            margin: 3px;
            margin-left: 10px;
            width: 15%;
            background-color: white;
            flex-grow: 0.5;
        }
    }